{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block js %}
<script>
    $(document).ready(function(){
        document.getElementById("submitRegistration").addEventListener("click", function(event){
            event.preventDefault();
            $.ajax({
                type: 'GET',
                url: '/check',
                data: {"username": $('#username').val()},
                success: function(response) {
                    if (response === true) {
                        document.getElementById("registerForm").submit();
                    } else {
                        alert('Invalid username');
                    }
                },
                error: function(error) {
                    alert('Something went wrong. Please try again');
                }
            });
        });
    });
</script>
{% endblock %}

{% block main %}
    <form action="/register" method="post" id="registerForm">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Confirm password" type="password">
        </div>
        <button class="btn btn-primary" id="submitRegistration" type="submit">Register</button>
    </form>
{% endblock %}